@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Foldit:wght@300&display=swap');

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

h1 {
  font-family: 'Foldit', cursive;
  font-weight: 700;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
}